<p style="color: green"><%= notice %></p>

<%= render @readers_card %>

<div>
  <%= link_to "Edit this readers card", edit_readers_card_path(@readers_card) %> |
  <%= link_to "Back to readers cards", readers_cards_path %>

  <%= button_to "Destroy this readers card", @readers_card, method: :delete %>
</div>
