<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline mb-4">
  <%= form.text_field :last_name, class: "form-control form-control-lg" %>
  </div>
  <div class="form-outline mb-4">
  <%= form.text_field :first_name, class: "form-control form-control-lg" %>
  </div>
  <div class="form-outline mb-4">
  <%= form.text_field :patronymic, class: "form-control form-control-lg" %>
  </div>
  <div class="form-outline mb-4">
  <%= form.email_field :email, class: "form-control form-control-lg" %>
  </div>
  <div class="form-outline mb-4">
  <%= form.date_field :birth_date, class: "form-control form-control-lg" %>
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="card">Reader's card id:</label>
    <%= form.number_field :readers_card_id, class: "form-control form-control-lg", id: "card" %>
  </div>
  <div>
    <%= form.submit "Edit", class: "btn btn-primary btn-lg btn-block w-100" %>
  </div>
<% end %>
