<table>
  <tr>
    <td><%= user.last_name %></td>
    <td><%= user.first_name %></td>
    <td><%= user.patronymic %></td>
    <td><%= user.birth_date%></td>
    <td><%= user.email %></td>
    <td>Readers Card: <%= render user.readers_card %></td>
  </tr>
</table>
