<p style="color: green"><%= notice %></p>
<div class="text-center h-100 d-flex flex-column align-items-center justify-content-center">
<%= render @library %>

<div class="container mb-4 w-25">
  <div class="row">
    <%= link_to "Edit this library", edit_library_path(@library), class: "btn btn-primary btn-s mb-4 col"%>
    <%= link_to "Back to libraries", libraries_path, class: "btn btn-primary btn-s mb-4 col" %>
  </div>
  <div class="row">
  <%= link_to "Show users", library_readers_cards_path(@library), class: "btn btn-primary btn-s mb-4 col" %>
  <%= button_to "Destroy this library", @library, method: :delete, class: "btn btn-primary btn-s mb-4 col" %>
  </div>
</div>
</div>
