<table>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.description %></td>
    <td><%= book.isbn %></td>
    <td><%= book.publication_year %></td>
    <td>Authors: <%= render book.authors %></td>
    <td>Genres: <%= render book.genres %></td>
    <td>Library: <%= render book.library %></td>
  </tr>
</table>
